@use './normalize.scss';
@use '@fontsource/inter';

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Inter';
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #22252b;
  background-color: #f5f5f6;
}
