.custom-select {
  position: relative;
  width: 100%;
  text-align: left;
  outline: none;
  height: 47px;
  line-height: 47px;
}

.custom-select .selected {
  border-radius: 6px;
  border: 1px solid rgba(38, 38, 38, 0.24);
  padding-left: 1em;
  cursor: pointer;
  user-select: none;
}

.custom-select .selected.open {
  border: 1px solid rgba(38, 38, 38, 0.24);
  border-radius: 6px 6px 0px 0px;
}

.custom-select .selected:after {
  position: absolute;
  content: '';
  top: 22px;
  right: 1em;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: rgba(38, 38, 38, 0.24) transparent transparent transparent;
}

.custom-select .items {
  border-radius: 0px 0px 6px 6px;
  overflow: hidden;
  border-right: 1px solid rgba(38, 38, 38, 0.24);
  border-left: 1px solid rgba(38, 38, 38, 0.24);
  border-bottom: 1px solid rgba(38, 38, 38, 0.24);
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #fff;
}

.custom-select .items div {
  padding-left: 1em;
  cursor: pointer;
  user-select: none;
}

.custom-select .items div:hover {
  background-color: rgb(245, 245, 255);
}

.selectHide {
  display: none;
}
